streamlit
pandas
speechrecognition
torch
transformers
sentence-transformers
faiss-cpu
requests
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-auth-transport-requests
datetime
plotly
vosk
